body
{
    background-image:url(weather.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    height:100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
}
h1
{
    color:rgb(1, 55, 90);
    white-space: nowrap;
}
#container
{
    text-align:center;
    padding:50px;
}
.input
{
    display:inline-block;
}
.input1
{
    padding:5px 10px;
    margin:10px;
    font-size:25px;
    font-weight:bold;
    width:200px;
    text-align:center;
}
label
{
    font-size:25px;
    color:rgb(194, 45, 45);
    font-weight:bold;
}
.box
{
    display:flex;
    align-items: center;
    flex-direction: column;
    border-style: double;
    height: 85%;
    width: 55%;
}
.heading 
{
    margin-top: 6rem;
    width: 64%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-style: dotted;
    border-bottom-right-radius: 5px;
}
.convert
{
    font-size: 17px;
    position: relative;
    height: 37px;
    width: 110px;
    background: white;
    color: brown;
    font-weight: bold;
    border-radius: 214px;
    box-shadow: 7px 6px 10px red;
    cursor: pointer;
}
.reset
{
    font-size: 17px;
    position: relative;
    height: 37px;
    width: 84px;
    background: white;
    color: brown;
    font-weight: bold;
    border-radius: 214px;
    box-shadow: 7px 6px 10px red;
    cursor: pointer;
}
.result
{
        font-size: 23px;
        position: relative;
        color: black;
        font-weight: bold;
        border-radius: 214px;
        text-decoration:underline;
        margin-top: 2rem;
}
.text
{
    width:49%;
    position: relative;
    font-size: 20px;
    color:black;
}

@media screen and (max-width:700px) 
{
    .heading 
    {
        width: 85%;
    }
    h1 
    {
        font-size: 1.5rem;
    }
    .box 
    {
        width: 95%;
    }
}